<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="navbar">
        <h1 id="heading">New-Post</h1>
     </div>
     <div class="form-container">
        
     <div class="form">
    <form method="post" action="/posts">
       <input type="text" placeholder="Enter Username" name="username" id="input"> <br></br>
       <textarea name="content" id="newcontent" placeholder="Write Your Content "></textarea> 
       <br></br>
       <button id="submit-post">Submit Post</button>

    </form> 
    </div> 
    </div>
    
</body>
</html>